body {
    background-color: #F3F5F5;
    font-family: "Open Sans", Verdana, sans-serif;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.icon {
    max-width: 20px;
    max-height: 20px;
    display: inline;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    padding: 0px 16px;
}

#menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
}

.info {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#info-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
    float: center;
}

.info-item {
    padding-left: 48px;
}

.link {
    color: black;
    text-decoration: none;
    font-family: "Open Sans", Verdana, sans-serif;
    white-space: nowrap;
}

.menu-link {
    color: black;
    text-decoration: none;
    font-family: "Open Sans", Verdana, sans-serif;
    white-space: nowrap;
    padding-left: 48px;
}

.link:hover {
    color: grey;
}

.menu-link:hover {
    color: grey;
}

.full {
    max-width: 650px;
    width: 650px;
    padding: 0px;
}

h1 {
    line-height: 40%;
    padding: none;
}

h2 {
    line-height: 40%;
    padding-top: 15px;
}

p {
    padding: 0px;
    text-align: justify;
    text-justify: inter-word;
}
